*~
.#*
inst/doc
.RData
.Rhistory
.Rproj.user
.outbreaks.Rproj
outbreaks.Rproj
.DS_Store
*.tar.gz
*.swp
README.htmloutbreaks.Rcheck
outbreaks.Rcheck/
README.html
revdep
.Rapp.history
.Ruserdata
*-Ex.R
/*.Rcheck/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
docs/

docs
